body {
    background-color: #F5F8F8;
    font-family: "Montserrat", sans-serif;
    display: flex;
    }
.main-content {
    display: flex; /* Встановлюємо flex контейнер */
}
#myphoto { 
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}  
.sidebar {
    width: 370px; 
    height: 100%;
    padding: 20px;
    background-color: #6B9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
 }
     
 .pages {
        text-align: left; 
    }
.main {
    padding: 0px;
}
.Headers {
    font-weight: bold;
    font-style: italic; 
    background-color: #EBC9BB;
    padding-left: 20px;
    
}
.text {
    padding-left: 40px;
}

ul li {
    font-size: 15px;
    list-style-type: circle;
  }
#Links {
    font-style: italic;
    font-weight: normal;

}
a:link, a:visited {
    background-color: #6B9999;
    color: black;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  a:hover, a:active {
    background-color: #EBC9BB;
    color: white;
  }




