body {
    background-color: #F5F8F8;
    font-family: "Montserrat", sans-serif;
}
h1 {
    display: inline-block;
    background-color: #6B9999;
    font-style: italic; 
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
  .contacts {
    padding-left: 20px;
  }
  /*Symbols*/
  .Phone::before {
    content: "\260E"; 
}

.Teiegram::before {
    content: "\1F4E7"; 
}

.Viber::before {
    content: "\1F4F3";    
}

.Email::before {
    content: "\2709"; 
}
/*Links color*/
a:link {
    color: #6B9999;
  ;
  }
  
  a:visited {
    color: #365050;
  }
  
  a:hover {
    color:  #EBC9BB;
  ;
  }
  
  a:active {
    color: #673A65;
  }








  